$colorMarron:#332117;
$rosa: #FFDCE4;
$rosaClaro: #fff7f7;
$blanco: #fff;



$fuenteCuerpoTexto: 'Lexend Deca', 'Montserrat', sans-serif;
//$fuenteCM:"Brittany Signature";
$fuenteCM:"Lemon Milk";
$fuenteDesarrollo: "Consolas",serif;